.card {
  height: 367px;
  background: var(--white);
  flex-basis: 350px;
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 20px 0;
}

.card__body {
  font-weight: normal;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: var(--black);
}

.card__desc {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--black);
}
