.burger__icon {
  cursor: pointer;
}

.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  transition: all 0.3s;
}

.burger__icon_open {
  display: none;
}

.burger-menu[data-open] {
  transform: none;
  z-index: 1;
}

.burger-menu[data-open] ~ .burger__icon_open {
  display: none;
}

.modal__window {
  max-width: 450px;
  height: 100%;
  background: var(--white);
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .burger__icon_open {
    display: inline-block;
  }
}
