.burger__icon {
  cursor: pointer;
}

/* .burger__icon_close {
  display: inline-block;
  width: 450px;
  background: var(--white);
} */

.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  transition: all 0.3s;
}

.burger-menu[data-open] {
  transform: none;
}

.burger-menu[data-open] ~ .burger__icon_open {
  display: none;
}

.modal__window {
  max-width: 450px;
  height: 100%;
  background: var(--white);
  padding: 20px;
}
