.side-nav {
  width: 229px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.side-nav a {
  text-decoration: none;
  color: var(--black);
}

.side-nav__title {
  font-family: Inter;
  font-size: 20px;
  line-height: 26px;
  font-style: normal;
  font-weight: normal;
  color: var(--grey-3);
}

@media screen and (max-width: 768px) {
  .side-nav {
    width: 0;
  }
}
