.preview {
  background: var(--grey-5);
  flex-grow: 1;
  padding-bottom: 100px;
}

.preview__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 68px 0 204px;
}

.preview__grid_template {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 56px;
  min-height: 746px;
  padding: 36px 0;
}

@media screen and (max-width: 1160px) {
  .preview__grid {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .preview__grid_template {
    gap: 0;
  }
}
